In [ ]:
# list and its default function

#list is the similar to array of c programming language. it is collection of oredered elements 
#some of thedefault fucnctions

# 1.append(): which is used to append or add the elements to the list

In [3]:
list1 = []

In [4]:
list1.append(1)

In [5]:
list1.append(2)

In [6]:
list1.append(3)

In [7]:
print(list1)

[1, 2, 3]

In [ ]:
# 2. insert(): which is also used to add the elements to the list , similar to append, differ from append in the way that it adds the elements in the desired postion in the list .

In [ ]:
# insert() method takes two arguments(position, value).

In [8]:
print(list1)

[1, 2, 3]

In [9]:
list1.insert(3, 12)

In [10]:
print(list1)

[1, 2, 3, 12]

In [11]:
list1.insert(1, 5)

In [12]:
print(list1)

[1, 5, 2, 3, 12]

In [ ]:
# extend():this function is used to add to the list similar to appendand insert, differ the way of adding the multple elemnets at the same time

In [13]:
list1.extend(['abc', 8])

In [14]:
print(list1)

[1, 5, 2, 3, 12, 'abc', 8]

In [ ]:
# Remove(): used for removing the elements from list

In [15]:
list1.remove(1)

In [16]:
print(list1)

[5, 2, 3, 12, 'abc', 8]

In [ ]:
# pop():  it is alsoto remove the elements from list. it can remove the elemmets from the specific position by passing the index as an argument to pop()

In [17]:
print(list1)

[5, 2, 3, 12, 'abc', 8]

In [18]:
list1.pop(1)

2

In [19]:
print(list1)

[5, 3, 12, 'abc', 8]

In [22]:
#sum() : Calculates sum of all the elements of List
lst = [1,2,3]
sum(lst)

6

In [23]:
#count():Calculates total occurrence of given element of List
lst.count(1)

1

In [24]:
#length:Calculates total length of List
print(len(lst))

3

In [27]:
#index(): Returns the index of first occurrence
print(lst.index(2))

1

In [29]:
#min() : calculates the minimum value of the list
print(min(lst))

1

In [30]:
#max() :calculates the maximum value of the list
print(max(lst))

3

In [ ]:
#TUPLE :is collection of elements
#its default functions are:

In [9]:
tup1 = (1,2,3,4,5)

In [10]:
len(tup1)

5

In [11]:
min(tup1)

1

In [12]:
max(tup1)

5

In [ ]:
# Dictionary : unordered collection of data values which is in form of key:value pair like map

In [1]:
dict1 = {'name': 'abc','age':'20'}

In [2]:
dict2 = {'name':'xyz','age':'22'}

In [4]:
dict3 = {}

In [9]:
#copy()
dict3 = dict1.copy()

In [10]:
print(dict3.items())

dict_items([('name', 'abc'), ('age', '20')])

In [11]:
#clear()
dict1.clear()

In [12]:
print(dict1)

{}

In [13]:
#len()
print(len(dict2))

2

In [15]:
#type
print(type(dict2))

<class 'dict'>

# string

In [19]:
#len()
a = "abcdef"
print(len(a))

6

In [20]:
#upper case conversion
print(a.upper())

ABCDEF

In [21]:
#lower case conversion
print(a.lower())

abcdef

In [22]:
#replace
print(a.replace("a","A"))

Abcdef

In [23]:
#split
print(a.split(","))

['abcdef']

In [24]:
print(a.split("d"))

['abc', 'ef']

In [25]:
print(a.split("c"))

['ab', 'def']

In [27]:
a = "abc"

In [28]:
b= "def"

In [29]:
c= a+b

In [30]:
print(c)

abcdef

In [ ]:
# SETS methods

In [34]:
#adding the elemnts into set
ex1 = {"jay","mahe","ashu", "anu"}

In [35]:
ex1.add("tanu")

In [36]:
print(ex1)

{'mahe', 'jay', 'anu', 'ashu', 'tanu'}

In [37]:
ex2 = {"1","2","3","jay","mahe"}

In [38]:
#union operation on SET
set1 = ex1|ex2

In [39]:
print(set1)

{'3', 'mahe', 'jay', 'anu', 'ashu', '1', 'tanu', '2'}